{
  "extends": ["@commitlint/config-conventional"],
  "rules": {
    "type-enum": [
      2,
      "always",
      ["feat", "fix", "docs", "style", "refactor", "perf", "test", "build", "ci", "chore", "revert"]
    ],
    "scope-empty": [0, "never"],
    "subject-case": [0, "never"],
    "header-max-length": [2, "always", 120]
  },
  "ignores": [
    "@commitlint/ensure-ignores-leading-trailingspace",
    "(?s)^Merge .*",
    "(?s)^Revert \".*\""
  ]
}
